# k6
dist/
node_modules/

reports/*
!reports/.gitkeep
!reports/exemplo-load-test.html
!reports/exemplo-smoke-test.html
!reports/exemplo-stress-test.html

*.json
*.xml

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

